//declare Prefix

@css-prefix                     : mvui-;
@css-prefix-iconfont            : mvui-icon;

//Color
@link-color                     : #2D8cF0;
@primary-color                  : #2d8cf0;

//base
@body-background                : #fff;
@font-family                    : "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
@text-color                     : #495060;
@font-size-base                 : 14px;
@font-size-small                : 12px;
@line-height-base               : 1.5;

//Background color
@background-color-base          : #f7f7f7;

//Border color
@border-color-base              : #dddee1;


//Button
@btn-font-weight                : normal;
@btn-padding-base               : 6px 15px;
@btn-padding-large              : 6px 15px 7px 15px;
@btn-padding-small              : 2px 7px;

@btn-font-size                  : 12px;
@btn-font-size-large            : 14px;

@btn-border-radius              : 4px;
@btn-border-radius-small        : 3px;

@btn-disable-color              : #bbbec4;
@btn-disable-bg                 : @background-color-base;
@btn-disable-border             : @border-color-base;

@btn-default-color              : @text-color;
@btn-default-bg                 : @background-color-base;
@btn-default-border             : @border-color-base;

@btn-primary-color              : #fff;
@btn-primary-bg                 : @primary-color;


//Animatioin
@animation-time                 : .3s;
@transition-time                : .2s;
@ease-in-out                    : ease-in-out;

.mvui-btn{
	padding:@btn-padding-small;
}


